<!DOCTYPE html>
<html>

<head>

</head>

<link rel="stylesheet" href='./css/style.css'>

{{!-- <img src="/img/DSC5415-768x1151.jpg" /> --}}

<body>
  {{!-- <h1>{{surname}}</h1>
  <p>Created by {{name}} hbs</p> --}}
  <div class="main-content">
    {{>header}}
    <p>Use this site to get your weather</p>
  <form>
    <input placeholder="Location">
    <button>Search</button>
  </form>
  <p id="m"></p>
  <p id="m1"></p>
  </div>
  <script src="./js/app.js"></script>
</body>

</html>